@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.login_component {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 150px;
    margin-bottom: 10px;
}

h1, h2 {
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif', serif;
    margin-bottom: 10px;
}
